{% extends 'layouts/base.html' %}

{% block titulo %}
Instalación
{% endblock %}

{% block contenido %}
<center>
    <br><br><h1>Página de instalación</h1><br><br>
    <h4>A continuación deberás introducir los detalles de conexión a tu base de datos.</h4><br>
</center>
    <form action="{{ url_for('productos') }}" method="POST">
        <div class="mb-3">
            <label for="nombre">Nombre de la base de datos:</label>
            <input type="text" required class="form-control" id="nombre" name="nombre">
        </div>
        
        <div class="mb-3">
            <label for="descripcion">Nombre de usuario:</label>
            <input type="text" required class="form-control" id="nombre" name="nombre">
        </div>
        
        <div class="mb-3">
            <label for="precio_compra">Contraseña:</label>
            <input type="text"  class="form-control" id="precio_compra" name="precio_compra">
        </div>
        
        <div class="mb-3">
            <label for="precio_venta">Servidor de la base de datos:</label>
            <input type="text"  class="form-control" id="precio_venta" name="precio_venta">
        </div>
        <div class="mb-3">
            <label for="precio_venta">Puerto:</label>
            <input type="text"  class="form-control" id="precio_venta" name="precio_venta">
        </div>
        
    </div>
    <center>
        <button type="submit" class="btn btn-success">Enviar</button>
    </center>
</form>

{% endblock%}