{% extends 'layouts/base.html' %}

{% block titulo %}
    Crear producto
{% endblock %}

{% block contenido %}
    <h1>Crear producto</h1>
    <a href="{{ url_for('productos') }}">Volver</a>

    <form action="{{ url_for('crear_producto') }}" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="nombre">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion">
        </div>
        <div class="form-group">
            <label for="nombre">Precio de venta</label>
            <input type="text" class="form-control" id="precioDeVenta" name="precioDeVenta">
        </div>
        <div class="form-group">
            <label for="nombre">Precio de compra</label>
            <input type="text" class="form-control" id="precioDeCompra" name="precioDeCompra">
        </div>
        <div class="form-group">
            <label for="nombre">Estado</label>
            <select class="form-control" id="estado" name="estado"></select>
            <select class="form-select" aria-label="Default select example" id="estado" name="estado" >
                <option selected>Elija una opción</option>
                <option id="estado" name="estado" value="0">Activo</option>
                <option id="estado" name="estado" value="1">Inactivo</option>
            </select>
        </div><br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}