{% extends 'layouts/base.html' %}

{% block titulo %}
    Crear producto
{% endblock %}

{% block contenido %}
<h1>Crear Productos</h1>
<a href="{{ url_for('productos') }}">volver</a>

<form action="{{ url_for('crear_producto') }}" method="POST">
    <div class="mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" required class="form-control" id="nombre" name="nombre">
    </div>

    <div class="mb-3">
        <label for="descripcion">Descripcion</label>
        <textarea rows="4" required class="form-control" 
            id="descripcion" 
            name="descripcion"></textarea>
    </div>
    
    <div class="mb-3">
        <label for="precio_compra">Precio de compra</label>
        <input type="number" required class="form-control" id="precioDeCompra" name="precioDeCompra">
    </div>

    <div class="mb-3">
        <label for="precio_venta">Precio de venta</label>
        <input type="number" required class="form-control" id="precioDeVenta" name="precioDeVenta">
    </div>

    <div class="mb-3">
        <label for="ganancia">Ganancia (%)</label>
        <input type="number" required class="form-control" id="ganancia" name="ganancia">
    </div>

    <div class="mb-3">
        <label for="estado">Estado de producto</label>
        <select class="form-select" required id="estado" name="estado">
            <option selected value="">Selecione una opción</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<script>
    
    let inputprecioDeCompra = document.querySelector('#precioDeCompra')
    let inputprecioDeVenta = document.querySelector('#precioDeVenta')
    let inputGanancia = document.querySelector('#ganancia')
    
    inputprecioDeCompra.addEventListener('change', cambioprecioDeCompra)
    function cambioprecioDeCompra(e){
       console.log('cambiando ganancia')
    }

    inputprecioDeVenta.addEventListener('change', cambioprecioDeVenta)
    function cambioprecioDeVenta(e){
        //Esta cambiando el precio venta
        // ganancia = (precio_venta / precio_compra) / 100
        let precioDeVenta = parseInt(inputprecioDeVenta.value)
        let precioDeCompra = parseInt(inputprecioDeCompra.value)
        let ganancia = ((precioDeVenta - precioDeCompra)/ precioDeCompra) * 100
        inputGanancia.value = ganancia
    }

    inputGanancia.addEventListener('change', cambioGanancia)
    function cambioGanancia(e){
        let precioDeCompra = parseInt(inputprecioDeCompra.value)
        let ganancia = parseInt(inputGanancia.value)
        let precioDeVenta = (precioDeCompra * (ganancia/100)) + precioDeCompra
        inputprecioDeVenta.value = precioDeVenta
    }
    
    
</script>
{% endblock %}